*{
    margin: 0;
}

:root{
    --green1: rgb(0, 192, 26); 
}

body{
    color: rgb(0, 192, 26);
    background: rgb(0, 0, 54);
    display: flex;
}

.nav{
    background: rgb(0, 0, 27);
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    border-right: 1px solid blue;
}

.exProjname{
    margin-top: 10px;
    color: darkgreen;
    margin-left: 10px;
    padding: 5px;
    border-left: 1px solid blue;
}
.Title{
    display: flex;
}
.check{
    font-size: 8px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    cursor: pointer;
}
.projectCluster{
    display: flex;
    flex-direction: column;
    color: rgb(0, 192, 26);
    cursor: pointer; 
}
.projNameCluster{
    cursor: pointer;
    transition: 0.3s;
    display: flex;
}
.projname{
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
}

.projNameCluster:hover{
    background: blue;
    color: red;
}

.addProj{
    position: absolute;
    margin-left: 60px;
    margin-top: 700px;
    transition: .2s;
    border-radius: 50%;
    padding: 5px;
}

.addProj:hover{
    background-color: rgba(236, 202, 255, 0.3);
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
}

.modal{
    position: absolute;
    margin-top: 350px;
    margin-left: 350px;
    border: 1px solid var(--green1);
    padding: 80px;
    border-radius: 20px;
}

.projects{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

#overlay.active{
    pointer-events: all;
}

.titleCluster{
    display: flex;
}

.addTitle{
    margin-left: 50px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}

.addTitle:hover{
    background-color: rgba(60, 255, 0, 0.3);
    border-radius: 50%;
    transition: 0.2s;
}

.prev{
    fill: aliceblue;
    margin-top: 6px;
    position: absolute;
    margin-left: 150px;
    transition: .3s;
}
.prev:hover{
    fill: rgb(255, 2, 2);
    scale: 1.5;
}